In [1]:
import pandas as pd
from itertools import combinations
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
273,tt1121931,20000000,34560577,Crank: High Voltage,Jason Statham|Amy Smart|Dwight Yoakam|Efren Ra...,Mark Neveldine|Brian Taylor,"Stay Charged, Stay Alive!",Chelios faces a Chinese mobster who has stolen...,96,Action|Thriller|Crime,Lakeshore Entertainment|Lionsgate|Radical Media,4/16/2009,5.9,2009
1416,tt0419294,15000000,12036149,The Three Burials of Melquiades Estrada,Tommy Lee Jones|Barry Pepper|Dwight Yoakam|Jan...,Tommy Lee Jones,Nobody is beyond redemption.,When brash Texas border officer Mike Norton (B...,121,Adventure|Crime|Drama|Mystery|Western,The Javelina Film Company|EuropaCorp,11/17/2005,6.7,2005
1728,tt0765443,51500000,55112356,Eastern Promises,Naomi Watts|Viggo Mortensen|Vincent Cassel|Arm...,David Cronenberg,Every sin leaves a mark.,A Russian teenager living in London who dies d...,100,Thriller|Crime|Mystery,BBC Films|Serendipity Point Films|TÃ©lÃ©film C...,9/14/2007,7.0,2007
1520,tt0463985,85000000,158468292,The Fast and the Furious: Tokyo Drift,Lucas Black|Sung Kang|Brian Tee|Nathalie Kelle...,Justin Lin,"On the streets of Tokyo, speed needs no transl...","In order to avoid a jail sentence, Sean Boswel...",104,Action|Crime|Drama|Thriller,Universal Pictures,6/3/2006,6.1,2006
598,tt0255819,16000000,29381649,Baby Boy,Tyrese Gibson|Taraji P. Henson|Omar Gooding|Vi...,John Singleton,Just a Baby Boy.,"The story of Jody, a misguided, 20-year-old Af...",130,Drama|Comedy|Crime,Columbia Pictures,6/27/2001,7.4,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} #  создадим словарь для ответов

#  добавляем колонку profit (profit=revenue-budget)
data['profit'] = data.revenue - data.budget

#  переводим дату в формат DateTime
data.release_date = pd.to_datetime(data['release_date'])

#  создадим функцию для разделения значений в ячейках
def splitting(series_obj):
    return series_obj.split("|")

#  создадим копию датасета
data2 = data.copy()

#  заменяем значения в ячейках на списки (где необходимо)
data2.genres = data2.genres.apply(splitting)
data2.director = data2.director.apply(splitting)
data2.cast = data2.cast.apply(splitting)
data2.production_companies = data2.production_companies.apply(splitting)

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [7]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [20]:
data.loc[data.budget.idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [17]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [87]:
answers['3'] = 'Winnie the Pooh'

In [19]:
data.loc[data.runtime.idxmin()][['original_title']]

original_title    Winnie the Pooh
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [21]:
answers['4'] = '109.658549'

In [22]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [23]:
answers['5'] = '107'

In [24]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
answers['6'] = 'Avatar'

In [31]:
data.loc[data.profit.idxmax()][['original_title']]

original_title    Avatar
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [32]:
answers['7'] = 'The Lone Ranger'

In [34]:
data[data.profit == data.profit.min()][['original_title']]

       original_title
1245  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [35]:
answers['8'] = '1478'

In [36]:
len(data.profit[data.profit > 0])

1478

In [37]:
len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [41]:
answers['9'] = 'The Dark Knight'

In [42]:
data_temp = data[data.release_year == 2008]

In [49]:
data_temp.query('revenue == revenue.max()')['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [50]:
answers['10'] = 'The Lone Ranger'

In [52]:
data_temp = data[(data.release_year >= 2012) & (data.release_year < 2015)]
data_temp.loc[data_temp.profit.idxmin()]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [53]:
answers['11'] = 'Drama'

In [56]:
data.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [59]:
c = Counter()
for x in data.genres.apply(splitting):
    c += Counter(x)

print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [60]:
answers['12'] = 'Drama'

In [69]:
data2.genres.explode()[data2.profit > 0].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

##### На самом деле "драматические" фильмы не становятся чаще всего прибыльными. Это случается в 72% случаев.
##### Чаще всего прибыльными становятся "документальные фильмы" - 87,5%. Но такие фильмы встречаются всего 8 раз.
##### Поэтому, можно утверждать, что чаще всего становятся прибыльными "семейные" фильмы.

In [70]:
#  посчитаем сколько раз, встречается каждый жанр
a = data2.explode('genres').genres.value_counts()
#  посчитаем прибыльные фильмы
b = data2[data2.profit > 0].explode('genres').genres.value_counts()
#  узнаем в каком соотношении жанры фильмов становятся прибыльными
x = b/a
x.sort_values(ascending = False)

Documentary        0.875000
Family             0.869231
Animation          0.863309
Horror             0.852273
Fantasy            0.846847
Adventure          0.812048
Comedy             0.806735
Science Fiction    0.786290
Romance            0.785714
Action             0.762887
Thriller           0.748322
History            0.741935
Music              0.734375
Crime              0.733333
Drama              0.716113
Mystery            0.708333
War                0.706897
Western            0.631579
Foreign                 NaN
Name: genres, dtype: float64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [71]:
answers['13'] = 'Peter Jackson'

In [82]:
data_temp = data2.explode('director')
data_temp = data_temp.groupby('director').sum()
data_temp.revenue.idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

In [88]:
data_temp = data2.explode('director').explode('genres')
data_temp = data_temp.pivot_table(values = 'budget', index = 'director', columns = 'genres', aggfunc='count',)
data_temp.Action.idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [89]:
answers['15'] = 'Chris Hemsworth'

In [93]:
data_temp = data2.explode('cast')
data_temp = data_temp.pivot_table(values = 'revenue', index = 'cast', columns = 'release_year', aggfunc = 'sum')
data_temp[2012].idxmax()

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [94]:
answers['16'] = 'Matt Damon'

In [95]:
data_temp = data2.explode('cast')

In [96]:
data_temp[data_temp.budget > data_temp.budget.mean()].cast.value_counts()

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Samuel L. Jackson         15
Tom Cruise                15
                          ..
Thomas Ian Nicholas        1
Om Puri                    1
Wilfried Hochholdinger     1
Raoul Bova                 1
Clint Eastwood             1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [97]:
answers['17'] = 'Nicolas Cage'

In [99]:
data_temp = data2.explode('cast').explode('genres')
data_temp = data_temp.pivot_table(values = 'budget', index = 'cast', columns = 'genres', aggfunc = 'count')
data_temp.loc['Nicolas Cage'].sort_values(ascending = False)

genres
Action             17.0
Thriller           15.0
Drama              12.0
Crime              10.0
Fantasy             8.0
Adventure           7.0
Comedy              6.0
Science Fiction     4.0
Mystery             3.0
Family              3.0
Animation           3.0
History             2.0
War                 1.0
Romance             1.0
Horror              1.0
Documentary         NaN
Foreign             NaN
Music               NaN
Western             NaN
Name: Nicolas Cage, dtype: float64

# 18. Самый убыточный фильм от Paramount Pictures

In [100]:
answers['18'] = 'K-19'

In [134]:
data_temp = data2.explode('production_companies')
data_temp = data_temp[data_temp.production_companies.str.contains('Paramount')]
data_temp.loc[data_temp.profit.idxmin()]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [135]:
answers['19'] = 2015

In [147]:
data_temp = data.groupby('release_year')[['revenue']].sum()

data_temp.loc[data_temp.idxmax()]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] == '2014'

In [149]:
data_temp = data[data.production_companies.str.contains('Warner')]
data_temp = data_temp.groupby('release_year').sum()
data_temp.profit.idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [150]:
answers['21'] = 'September'

In [151]:
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [152]:
answers['22'] = 450

In [156]:
data_temp = data.release_date.dt.month.value_counts()
answer = data_temp.loc[6] + data_temp.loc[7] + data_temp.loc[8]
print(answer)

450

In [169]:
data_temp = data.query('5 < release_date.dt.month < 9')
len(data_temp)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [170]:
answers['23'] = 'Peter Jackson'

In [181]:
data_temp = data2.explode('director')
data_temp = data_temp.query('release_date.dt.month < 3 or release_date.dt.month == 12')
data_temp = data_temp.groupby('director').count()
data_temp.original_title.idxmax()

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [182]:
answers['24'] = 'Four By Two Productions'

In [187]:
data_temp = data2.explode('production_companies')
data_temp.original_title = data_temp.original_title.apply(lambda x: len(x))
data_temp = data_temp.groupby('production_companies').mean()
data_temp.original_title.idxmax()

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = 'Midnight Picture Show'

In [214]:
data_temp = data2.explode('production_companies')
data_temp.overview = data_temp.overview.str.split(' ')
data_temp.overview = data_temp.overview.apply(lambda x: len(x))
data_temp = data_temp.groupby('production_companies').mean()
data_temp.overview.idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [4]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [11]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [12]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [14]:
pairs_actors = {}

for actors in data.cast.str.split('|'):
    for actor in list(combinations(actors, 2)):
        if actor in pairs_actors:
            pairs_actors[actor] += 1
        else:
            pairs_actors[actor] = 1

max(pairs_actors, key=pairs_actors.get)

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)