In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("sql_query.csv")
df.head()

,flight_id,scheduled_departure,scheduled_arrival,scheduled_duration,departure_city,departure_airport_name,arrival_city,arrival_airport_name,model,range,seats,profit,passengers
0,136119,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Витязево,Москва,Шереметьево,Boeing 737-300,4200,130,1653000.0,113.0
1,136120,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Витязево,Москва,Шереметьево,Boeing 737-300,4200,130,1605400.0,109.0
2,136122,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Витязево,Москва,Шереметьево,Boeing 737-300,4200,130,1431000.0,97.0
3,136130,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Витязево,Москва,Шереметьево,Boeing 737-300,4200,130,1556600.0,107.0
4,136131,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Витязево,Москва,Шереметьево,Boeing 737-300,4200,130,1812800.0,124.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   flight_id               127 non-null    int64
 1   scheduled_departure     127 non-null    object
 2   scheduled_arrival       127 non-null    object
 3   scheduled_duration      127 non-null    object
 4   departure_city          127 non-null    object
 5   departure_airport_name  127 non-null    object
 6   arrival_city            127 non-null    object
 7   arrival_airport_name    127 non-null    object
 8   model                   127 non-null    object
 9   range                   127 non-null    int64
 10  seats                   127 non-null    int64
 11  profit                  118 non-null    float64
 12  passengers              118 non-null    float64
dtypes: float64(2), int64(3), object(8)
memory usage: 13.0+ KB

In [4]:
df[df.passengers.isnull()]

,flight_id,scheduled_departure,scheduled_arrival,scheduled_duration,departure_city,departure_airport_name,arrival_city,arrival_airport_name,model,range,seats,profit,passengers
59,136511,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
60,136513,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
61,136514,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
62,136523,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
63,136540,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
64,136544,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
65,136546,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
66,136560,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN
67,136567,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Витязево,Новокузнецк,Спиченково,Boeing 737-300,4200,130,NaN,NaN

В датасете отсутствует информация о пассажирах и сумме проданных билетов на рейсах в Новокузнецк.  
Удалим информацию по Новокузнецку.

In [5]:
df = df[df.arrival_city != 'Новокузнецк']

Переведем колонки "scheduled_departure" и "scheduled_arrival" в формат datetime

In [9]:
df.scheduled_departure = pd.to_datetime(df.scheduled_departure)
df.scheduled_arrival = pd.to_datetime(df.scheduled_arrival)

Переведем длительность рейса в часы

In [10]:
def convert_to_hours(row):
    minutes = int(row.split(" ")[6]) + int(row.split(" ")[8]) / 60
    return minutes

In [11]:
df['flight_duration'] = df.scheduled_duration.apply(convert_to_hours)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 126
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   flight_id               118 non-null    int64
 1   scheduled_departure     118 non-null    datetime64[ns, UTC]
 2   scheduled_arrival       118 non-null    datetime64[ns, UTC]
 3   scheduled_duration      118 non-null    object
 4   departure_city          118 non-null    object
 5   departure_airport_name  118 non-null    object
 6   arrival_city            118 non-null    object
 7   arrival_airport_name    118 non-null    object
 8   model                   118 non-null    object
 9   range                   118 non-null    int64
 10  seats                   118 non-null    int64
 11  profit                  118 non-null    float64
 12  passengers              118 non-null    float64
 13  flight_duration         118 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(3), int64(3), object(6)
memory usage: 13.8+ KB

Создадим дополнительный признак отображающий загрузку самолета в процентах

In [14]:
df['loading'] = df.passengers / df.seats

In [15]:
df.model.unique()

array(['Boeing 737-300', 'Sukhoi Superjet-100'], dtype=object)

![Расходы на полёт](flight_expenses.jpg)

Согласно информации министерства транспорта РФ (www.favt.gov.ru), в 2017 году, стоимость тонны топлива в аэропорту Анапы варьировалась в районе 45000 рублей

К сожалению, производители не предоставляют информацию о расходе топлива, по данным из сети интернет расход самолета "Сухой Суперджет-100" - 1,7 т/ч, "Boeing 737-300" - 2,6 т/ч.

In [16]:
def fuel_consumption(row):
    if row.model == 'Sukhoi Superjet-100':
        return 1.7
    elif row.model == 'Boeing 737-300':
        return 2.6

In [17]:
df['fuel_consumption'] = df.apply(fuel_consumption, axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 0 to 126
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   flight_id               118 non-null    int64
 1   scheduled_departure     118 non-null    datetime64[ns, UTC]
 2   scheduled_arrival       118 non-null    datetime64[ns, UTC]
 3   scheduled_duration      118 non-null    object
 4   departure_city          118 non-null    object
 5   departure_airport_name  118 non-null    object
 6   arrival_city            118 non-null    object
 7   arrival_airport_name    118 non-null    object
 8   model                   118 non-null    object
 9   range                   118 non-null    int64
 10  seats                   118 non-null    int64
 11  profit                  118 non-null    float64
 12  passengers              118 non-null    float64
 13  flight_duration         118 non-null    float64
 14  loading                 118 non-null    float64
 15  fuel_consumption        118 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(5), int64(3), object(6)
memory usage: 15.7+ KB

In [20]:
df['fuel_cost'] = df.fuel_consumption * df.flight_duration * 45000

In [23]:
df['earnings'] = df.profit - df.fuel_cost