In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("sql_query.csv")
df.head()

,flight_id,scheduled_departure,actual_departure,scheduled_duration,actual_duration,departure_city,arrival_airport_name,arrival_city,model,range,passengers,max_passengers,total_amount
0,136119,2017-01-03T10:05:00Z,2017-01-03T10:08:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,0 years 0 mons 0 days 1 hours 41 mins 0.00 secs,Анапа,Шереметьево,Москва,Boeing 737-300,4200,113.0,130,6865300.0
1,136120,2017-02-24T10:05:00Z,2017-02-24T10:07:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,0 years 0 mons 0 days 1 hours 39 mins 0.00 secs,Анапа,Шереметьево,Москва,Boeing 737-300,4200,109.0,130,5434800.0
2,136122,2017-01-08T10:05:00Z,2017-01-08T10:08:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,Анапа,Шереметьево,Москва,Boeing 737-300,4200,97.0,130,5411400.0
3,136130,2017-02-13T10:05:00Z,2017-02-13T10:07:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,0 years 0 mons 0 days 1 hours 39 mins 0.00 secs,Анапа,Шереметьево,Москва,Boeing 737-300,4200,107.0,130,5795200.0
4,136131,2017-01-28T10:05:00Z,2017-01-28T10:07:00Z,0 years 0 mons 0 days 1 hours 40 mins 0.00 secs,0 years 0 mons 0 days 1 hours 39 mins 0.00 secs,Анапа,Шереметьево,Москва,Boeing 737-300,4200,124.0,130,7111900.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   flight_id             127 non-null    int64
 1   scheduled_departure   127 non-null    object
 2   actual_departure      127 non-null    object
 3   scheduled_duration    127 non-null    object
 4   actual_duration       127 non-null    object
 5   departure_city        127 non-null    object
 6   arrival_airport_name  127 non-null    object
 7   arrival_city          127 non-null    object
 8   model                 127 non-null    object
 9   range                 127 non-null    int64
 10  passengers            118 non-null    float64
 11  max_passengers        127 non-null    int64
 12  total_amount          118 non-null    float64
dtypes: float64(2), int64(3), object(8)
memory usage: 13.0+ KB

In [4]:
df[df.passengers.isnull()]

,flight_id,scheduled_departure,actual_departure,scheduled_duration,actual_duration,departure_city,arrival_airport_name,arrival_city,model,range,passengers,max_passengers,total_amount
59,136511,2017-02-21T06:10:00Z,2017-02-21T06:15:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 10 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
60,136513,2017-02-28T06:10:00Z,2017-02-28T06:13:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 10 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
61,136514,2017-02-07T06:10:00Z,2017-02-07T06:14:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 4 hours 59 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
62,136523,2017-01-10T06:10:00Z,2017-01-10T06:14:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 12 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
63,136540,2017-01-17T06:10:00Z,2017-01-17T06:14:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 7 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
64,136544,2017-01-31T06:10:00Z,2017-01-31T06:10:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 4 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
65,136546,2017-01-03T06:10:00Z,2017-01-03T06:13:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 2 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
66,136560,2017-01-24T06:10:00Z,2017-01-24T06:13:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN
67,136567,2017-02-14T06:10:00Z,2017-02-14T06:12:00Z,0 years 0 mons 0 days 5 hours 5 mins 0.00 secs,0 years 0 mons 0 days 5 hours 11 mins 0.00 secs,Анапа,Спиченково,Новокузнецк,Boeing 737-300,4200,NaN,130,NaN

В датасете отсутствует информация о пассажирах и сумме проданных билетов на рейсах в Новокузнецк

Переведем колонки "scheduled_departure" и "actual_departure" в формат datetime

In [9]:
df.scheduled_departure = pd.to_datetime(df.scheduled_departure)
df.actual_departure = pd.to_datetime(df.actual_departure)

Определим количество минут в колонке "scheduled_duration"

In [30]:
def convert_to_minutes(row):
    minutes = int(row.split(" ")[6]) * 60 + int(row.split(" ")[8])
    return minutes

In [37]:
df['scheduled_duration_minutes'] = df.scheduled_duration.apply(convert_to_minutes)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   flight_id                   127 non-null    int64
 1   scheduled_departure         127 non-null    datetime64[ns, UTC]
 2   actual_departure            127 non-null    datetime64[ns, UTC]
 3   scheduled_duration          127 non-null    object
 4   actual_duration             127 non-null    object
 5   departure_city              127 non-null    object
 6   arrival_airport_name        127 non-null    object
 7   arrival_city                127 non-null    object
 8   model                       127 non-null    object
 9   range                       127 non-null    int64
 10  passengers                  118 non-null    float64
 11  max_passengers              127 non-null    int64
 12  total_amount                118 non-null    float64
 13  scheduled_duration_minutes  127 non-null    int64
dtypes: datetime64[ns, UTC](2), float64(2), int64(4), object(6)
memory usage: 14.0+ KB