In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("sql_query.csv")
df.head()

,flight_id,departure_city,arrival_airport_name,arrival_city,model,passengers,max_passengers,total_amount
0,136119,Анапа,Шереметьево,Москва,Boeing 737-300,113.0,130,6865300.0
1,136120,Анапа,Шереметьево,Москва,Boeing 737-300,109.0,130,5434800.0
2,136122,Анапа,Шереметьево,Москва,Boeing 737-300,97.0,130,5411400.0
3,136130,Анапа,Шереметьево,Москва,Boeing 737-300,107.0,130,5795200.0
4,136131,Анапа,Шереметьево,Москва,Boeing 737-300,124.0,130,7111900.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   flight_id             127 non-null    int64
 1   departure_city        127 non-null    object
 2   arrival_airport_name  127 non-null    object
 3   arrival_city          127 non-null    object
 4   model                 127 non-null    object
 5   passengers            118 non-null    float64
 6   max_passengers        127 non-null    int64
 7   total_amount          118 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 8.1+ KB

In [4]:
df[df.passengers.isnull()]

,flight_id,departure_city,arrival_airport_name,arrival_city,model,passengers,max_passengers,total_amount
59,136511,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
60,136513,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
61,136514,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
62,136523,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
63,136540,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
64,136544,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
65,136546,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
66,136560,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN
67,136567,Анапа,Спиченково,Новокузнецк,Boeing 737-300,NaN,130,NaN

В датасете отсутствует информация о пассажирах и сумме проданных билетов на рейсах в Новокузнецк

In [5]:
df.model.value_counts()

Boeing 737-300         68
Sukhoi Superjet-100    59
Name: model, dtype: int64